# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user
.Ruserdata

# System files
*.DS_Store
.README.md.icloud

# Data
Data/**
participants.csv
trials.csv
assignment.txt

# Output data
*.Rda
*.pdf
*.csv
*.html
*.rds
