# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user
.Ruserdata

# System files
*.DS_Store
.README.md.icloud

# Output data
*.Rda
*.pdf
*.csv
*.html
*.rds

# Project specific
participants.csv
trials.csv
